<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>TestApp: Welcome</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<h1 id="headline">Hello World!</h1>
	<br />
	<h3>Important Messages</h3>
	<div>
		<a id="msg:0" href="http://google.com">(1) message one</a>
	</div>
	<div>
		<a id="msg:1" href="http://google.com">(2) message two</a>
	</div>
	<div>
		<a id="msg:2" href="http://google.com">(3) message three</a>
	</div>

</body>
</html>