<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>TestApp: Random Interactable Elements</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<table border="1">
		<tr>
			<td><input id="buttonA1" type="submit" value="Button A1" /></td>
			<td><input id="buttonA2" type="submit" value="Button A2" /></td>
			<td><input id="buttonA3" type="submit" value="Button A3" /></td>
		</tr>
		<tr>
			<td><input id="buttonB1" type="submit" value="Button B1" /></td>
			<td><input id="buttonB2" type="submit" value="Button B2" /></td>
			<td><input id="buttonB3" type="submit" value="Button B3" /></td>
		</tr>
		<tr>
			<td><input id="buttonC1" type="submit" value="Button C1" /></td>
			<td><input id="buttonC2" type="submit" value="Button C2" /></td>
			<td><input id="buttonC3" type="submit" value="Button C3" /></td>
		</tr>
	</table>

	<br />

	<table>
		<tr>
			<td><input id="textfieldA" type="text" value="foo" /></td>
		</tr>
		<tr>
			<td><input id="textfieldB" type="text" /></td>
		</tr>
		<tr>
			<td><input id="textfieldC" type="text" value="bar" /></td>
		</tr>
		<tr>
			<td><input id="textfieldD" type="text" /></td>
		</tr>
		<tr>
			<td><input id="textfieldE" type="text" value="xu" /></td>
		</tr>
		<tr>
			<td><input id="textfieldF" type="text" /></td>
		</tr>
	</table>


</body>
</html>