<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<button type="button" id="button">button</button>

<form action="">
  <input type="text" id="name" name="name"></input>
  <input type="checkbox" id="box1" name="checkbox" value="box1">box1</input>
  <input type="checkbox" id="box2" name="checkbox" value="box2">box2</input>
  <input type="number" id="numberfield" name="numberfield" min="1" max="5"></input>
  <input type="radio" id="radio1" name="radio" value="radio1">radio1</input>
  <input type="radio" id="radio1" name="radio" value="radio2">radio2</input>
</form>
 
<iframe id="iframe" src="http://novatec-gmbh.de">
  <p>Your browser does not support iframes.</p>
</iframe>

 </img id="image" src="http://media.giphy.com/media/tTyTbFF9uEbPW/giphy.gif" alt="Image">
 
 <ul id="list">
  <li>item1</li>
  <li>item2</li>
  <li>item3</li>
</ul>

<table id="table" style="width:100%">
  <tr>
    <th>1</th>
    <th>2</th>		
    <th>3</th>
  </tr>
  <tr>
    <td>4</td>
    <td>5</td>		
    <td>6</td>
  </tr>
  <tr>
    <td>7</td>
    <td>8</td>		
    <td>9</td>
  </tr>
</table>

<textarea rows="4" cols="6">
a a a a a a a a a a a a a
</textarea>

</body>
</html>