<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>TestApp: Widgets</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<table border="1">
		<thead>
			<tr>
				<th>Description</th>
				<th>Widget</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>The first Search widget with ID 'fooSearchWidget'</td>
				<td>
					<form id="fooSearchWidget">
						<input id="fooSearchWidget:query" type="text" /> <input
							id="fooSearchWidget:search" type="submit" value="Search" />
					</form>
				</td>
			</tr>
			<tr>
				<td>The second Search widget with ID 'barSearchWidget'</td>
				<td>
					<form id="barSearchWidget">
						<input id="barSearchWidget:query" type="text" /> <input
							id="barSearchWidget:search" type="submit" value="Search" />
					</form>
				</td>
			</tr>
		</tbody>
	</table>

</body>
</html>